


<div class="container">
  <h1>Inflation Graph Page</h1>
  <p>The Inflation Graph Page uses innovative technologies such as Ruby, Ruby on Rails, GitHub, Chartkick.</p>

  <h3 class='text-center'><a href='https://github.com/TestMyVeins/inflation_graph_app'>Source code available at GitHub</a></h3>
  
  <%= image_tag("icon.png", :alt => "Ruby on Rails") %>  
  <h2>Contact:</h2>
  <i>Dominik Bobiński</i><br>
  <i>dominik.bobinski99@gmail.com</i>

</div>