<h1>Inflation Graph Page</h1>
<p>Website containing information about inflation in Poland</p>

<p>Dominik Bobiński</p>
<p>dominik.bobinski99@gmail.com</p>

<%= link_to "Wróć do strony głównej", root_path %>